.partie-competences{
    margin-top:400px;
}
@media only screen and (min-width: 1000px) {
    .image-competences{
        width:800px;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
    .image-competences{
        width:700px;
    }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
    .image-competences{
        width:500px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 450px) {
    .image-competences{
        width:420px;
    }
}
@media only screen and (max-width: 450px)  {
    .image-competences{
        width:90%;
    }
}