.partie-projets{
    /* background:#1b4781; */
    margin: 0 auto;
    
}
.button1{
    margin: 0 auto;
}
.projet-laravel{
    margin: 0 auto;

}
.engrenage1{
    width:400px;
}
.projet-laravel{
    /* width:400px; */
}