@media only screen and (max-width: 600px) {
    .div-icones-haut-de-page{
        display:none;
    }
}


.haut-de-page{
    display:flex;
    
}
.introduction{
    color:white;
    text-align:center;
    font-size:1.3em;
    text-shadow: 5px 5px 5px rgb(58, 58, 58);
    
}

.competences{
    margin-left:50px;    
    width:400px;
    
}
.perspective{
  transform : perspective(600px) rotateY(45deg);
}
   
.image-presentation{
  width:200px;
}
.div-introduction-haut-de-page{
  margin-top:100px;
}
.context{  
  margin-top:150px;
}





#arrowAnim {
    margin-top:200px;
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    width: 100px;
    height: 100px;
    border: 20px solid;
    border-color: black transparent transparent black;
    transform: rotate(-135deg);
    border-radius:10px;
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateY(-13vw); }	
     20% { opacity:1; transform: translateY(-8vw); }	
     80% { opacity:1; transform: translateY(8vw); }	
    100% { opacity:0; transform: translateY(13vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateY(-13vw); }	
     20% { opacity:1; transform: translateY(-8vw); }	
     80% { opacity:1; transform: translateY(8vw); }	
    100% { opacity:0; transform: translateY(13vw); }	
  }