
@media only screen and (min-width: 700px) and (max-width:1000px)  {
    .image-de-fond-header{
        position:absolute;
        z-index:0;
        width:100%;  
        top:-100px;      
    }   
    .image-de-fond-contact{
        width:100%;
        z-index:0; 
        position:relative;
        bottom:-80px;
        margin-top:250px; 
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .image-de-fond-header{
        position:absolute;
        z-index:0;
        width:100%;  
        top:-200px;      
    }   
    .image-de-fond-contact{
        width:100%;
        z-index:0; 
        position:relative;
        bottom:-100px;
        margin-top:250px; 
    }
}
@media only screen and (min-width: 1300px)  {
    .image-de-fond-header{
        position:absolute;
        z-index:0;
        width:100%;  
        top:-250px;      
    }   
    .image-de-fond-contact{
        width:100%;
        z-index:0; 
        position:relative;
        bottom:-100px;
        margin-top:250px; 
    }
}
@media only screen and (min-width: 500px) and (max-width:700px)  {
    .image-de-fond-header{
        position:absolute;
        z-index:0;
        width:100%;  
        top:-50px;       
    }   
    .image-de-fond-contact{
        width:100%;
        z-index:0; 
        position:relative;
        bottom:-40px;
        margin-top:250px; 
    }
}
@media only screen and (max-width: 500px)  {
    .image-de-fond-header{
        position:absolute;
        z-index:0;
        width:100%;  
        top:-20px;      
    }   
    .image-de-fond-contact{
        width:100%;
        z-index:0; 
        position:relative;;
        margin-top:250px; 
    }
}

