
/* .context{
    background:rgb(160, 160, 255);
    z-index:-2;
    width: 100%;
    position: absolute;    
} */
.image-de-fond-1{
    position:absolute;
    z-index:-1;
    top:80px;
    /* background:rgb(59, 59, 59); */
    width:100%;
    
}
.image-de-fond-2{
    position:absolute;
    z-index:-1;
    top:200px;
    /* background:rgb(59, 59, 59); */
    width:100%;  
}
.perspective{
   
    
    width:40%;
    transform : perspective(800px) rotateY(45deg);
}




